
<h1 class="display">Add Category</h1>
<form method="post" action="/category/add">
    <div>
        <label>CategoryName</label>
        <input type="text" name="CategoryName">
    </div>
    <input type="submit" value="Submit">
</form>