
<h1 class="display">Add Articles</h1>
<form method="post" action="/category/update/<%= test.id %>">
    <div>
        <label>CategoryName</label>
        <input type="text" name="CategoryName" value="<%= test.CategoryName %>">
    </div>
    <input type="submit" value="update">
</form>