
<!-- This is my main page for set the link to navigate the page-->
<h1 class="display4">Welcome to my first page</h1>
<p class="mb4"></p>
<a href="/category/show" class="btn btn-light">View Category</a>
<a href="/category/add" class="btn btn-light">ADD Category</a>
<a href="/item/adds" class="btn btn-light">ADD Item</a>
<a href="/item/shows" class="btn btn-light">View Item</a>
<a href="/" class="btn btn-light">Logout</a>