
<h1 class="display">Add Category</h1>
<form method="post" action="/item/add">
    <div>
        <select>
            <option>desserts</option>
            <option>starters</option>
        </select>
    </div>
    <div>
        <label>itemName</label>
        <input type="text" name="itemName">
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label>price</label>
        <input type="number" name="price">
    </div>
    <div>
        <label>displayOrder</label>
        <input type="number" name="displayOrder">
    </div>
    <div>
        <label>Image</label>
        <input type="file" name="image">
    </div>
    <input type="submit" value="Submit">
</form>