<!-- creating the item form-->
<h1 class="display">Add Category</h1>
<form method="post" action="/item/add">
    <div>
        <select>
            <option>desserts</option>
            <option>starters</option>
        </select>
    </div>
    <div>
        <label>itemName</label>
        <input type="text" name="itemName" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description" pattern="[A-Za-z]+" required>
    </div>
    <div>
        <label>price</label>
        <input type="number" name="price" min="0" max="10000" required>
    </div>
    <div>
        <label>displayOrder</label>
        <input type="number" name="displayOrder" min="0" max="100" required>
    </div>
    <input type="submit" value="Submit">
</form>