<!-- Show the category page and also display with edit and delete link so admin can delete and update the category-->
<h1>Show Category</h1>
<table border="2">
    <thead>
        <tr>
            <th>CategoryName</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(function(tt){ %>
            <tr>
                <td>
                    <%= tt.CategoryName %>
                </td>
                <td>
                    <form method="post" action="/category/delete/<%= tt.id %>">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                <td><a href="/category/update/<%= tt.id %>">Edit</a></td>
            </tr>
            <% }) %>
                <form method="post" action="/category/search">
                    SearchByCategory<input type="text" name="CategoryName"><br>
                    <input type="submit" name="submit">
                </form>
    </tbody>
</table>